div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand.pulsar(href="#") Switch
			div.nav-collapse
				ul.nav
					li.active
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Contact

div.container
	each device in devices
		div.row
			div.span1.title= device.deviceid
			div.span1.devtype= device.devicetype
			div.span1.devicon(devicestatus=device.devicestatus, deviceid=device.deviceid) &nbsp;
			div.span2
				a.btn.btn-large.btn-primary.togbutton(deviceid=device.deviceid, href="#") Toggle
			div.span2
				if device.flashstatus != "Flashing"
					a.btn.btn-large.btn-primary.fbutton.flashbutton(deviceid=device.deviceid, href="#") Flash
				else
					a.btn.btn-large.btn-primary.active.fbutton.stopflashbutton(deviceid=device.deviceid, href="#") Flash
			div.span4.sliderouter
				div.dimslider(deviceid=device.deviceid, initval=device.dimval)
			div.span1.dimvalbox
				p.dimvalp(deviceid=device.deviceid)= device.dimval

