extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.container
				a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href="#")
				div.nav-collapse
					ul.nav.pull-right
						li.active
							a(href="#") Home
						li
							a(href="#") About
						li
							a(href="#") Contact

	div.container
		each device in devices
			div.span2.panel(data-deviceid=device.deviceid)
				div.devicetitle
					h3= device.deviceid
				div.dial-div
					input.dial(type="text", data-deviceid=device.deviceid, data-devicestatus=device.devicestatus, value=device.dimval)

	script(type="text/javascript", src="/javascripts/javascript.js")