div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="#")
			div.nav-collapse
				ul.nav
					li.active
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Contact

div.container
	div.row.clone(deviceid="")
		div.span2.devtitle &nbsp;
		div.span1.devtype &nbsp;
		div.span1.devicon(devicestatus="", deviceid="") &nbsp;
		div.span3
			div.btn-group
				a.btn.btn-large.btn-primary.togbutton(deviceid="", href="#") Toggle
				a.btn.btn-large.btn-primary.fbutton.flashbutton(deviceid="", href="#") Flash
		div.span5
			div.dimslider(deviceid="", initval="")
	each device in devices
		div.row(deviceid=device.deviceid)
			div.span2.devtitle= device.deviceid
			div.span1.devtype= device.devicetype
			div.span1.devicon(devicestatus=device.devicestatus, deviceid=device.deviceid) &nbsp;
			div.span3
				div.btn-group
					a.btn.btn-large.btn-primary.togbutton(deviceid=device.deviceid, href="#") Toggle
					if device.flashstatus != "Flashing"
						a.btn.btn-large.btn-primary.fbutton.flashbutton(deviceid=device.deviceid, href="#") Flash
					else
						a.btn.btn-large.btn-primary.active.fbutton.stopflashbutton(deviceid=device.deviceid, href="#") Flash
			div.span5
				div.dimslider(deviceid=device.deviceid, initval=device.dimval)

